{% load staticfiles %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static "css/themes/blue/style.css" %}>
    <script type="text/javascript" src={% static "js/table/jquery.tablesorter.js" %}></script>
    <title>{% block title %}MagicBox{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block home %}<h1><a href="/">MagicBox</a></h1>{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}
        <div class="footer">
            <hr>
            <center><p>&copy; Successful Corporation. 2016</p></center>
            {% endblock %}
        </div>
    </div>
</body>
    <script type="text/javascript" src={% static "js/delete_obj.js" %}></script>
</html>